/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-auto {
  max-width: 1280px;
  margin: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.clr-orange {
  color: #e95a08;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5);
}

/* navbar */
.nav-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-image figure img {
  width: 100%;
}

.nav-links-container {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

#home {
  color: black;
  font-weight: 700;
}

#cart {
  color: black;
}

/* banner */
.banner-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 120px auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

#texti-fresh-flowers {
  color: #e95a08;
}

#banner-description {
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  display: block;
  width: 100%;
}

.banner-left {
  max-width: 570px;
}

@media screen and (max-width: 575px) {
  #home,
  #shop,
  #aboutus {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 20px;
  }

  .banner-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: normal;
  }

  .banner-left {
    padding: 15px;
  }
}
