/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-auto {
  max-width: 1140px;
  margin: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.clr-orange {
  color: #e95a08;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5);
}

/* navbar */
.nav-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid steelblue;
}

.nav-container .nav-image figure img {
  width: 100%;
}

.nav-links-container {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

#home {
  color: black;
  font-weight: 700;
}

#cart {
  color: black;
}

/* banner */
.banner-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 120px auto;
  border: 1px solid steelblue;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

#texti-fresh-flowers {
  color: #e95a08;
}

#banner-description {
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  display: block;
  width: 100%;
}

.banner-left {
  max-width: 570px;
}

/* our plants */
.our-plants {
  border: 1px solid green;
}

.our-plants-top {
  text-align: center;
  margin-bottom: 40px;
}

.our-plants-title {
  font-size: 3.12rem;
}

#our-text {
  color: #e95a08;
}

.our-plants-description {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}

.plant-card {
  width: fit-content;
}

.card-bottom #flower-name {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 10px 0;
}

.card-bottom #flower-price {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.plants-card-container .plant-card .card-bottom {
  text-align: center;
}

.plants-card-container .plant-card img {
  width: 100%;
}

.card-btn {
  background-color: #e95a08;
  color: white;
  text-align: center;
  border: none;
  width: 100%;
  font-weight: 600;
  height: 50px;
}

/* flower & plants lover */
.plant-lover {
  border: 1px solid green;
  margin-top: 200px;
}

.pl-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.pl-left img {
  width: 100%;
}

.pl-right {
  width: 540px;
}

.pl-right h2 {
  font-size: 3.12rem;
  font-weight: 700;
}

.pl-right ul {
  padding-left: 30px;
  padding-right: 30px;
}

.pl-right ul li {
  margin-top: 20px;
  font-size: 1.3rem;
}

@media screen and (max-width: 575px) {
  #home,
  #shop,
  #aboutus {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 20px;
  }

  .banner-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: normal;
  }

  .banner-left {
    padding: 15px;
  }

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-plants {
    padding: 10px;
  }
}
